﻿@model IEnumerable<MoneyTransfer.Models.Transaction>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Alltransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Localizer["Alltransactions"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["DateTime"]
            </th>
            <th>
                @Localizer["Sum"]
            </th>
            <th>
                @Localizer["Sender"]
            </th>
            <th>
                @Localizer["Receiver"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
            </tr>
        }
    </tbody>
</table>
