﻿@model MoneyTransfer.Models.Transaction
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["Main"]</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Alltransactions">@Localizer["AllTransaction"]</a>
}
<hr />
<h4>@Localizer["Transaction"]</h4>
<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Transaction" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Sum" class="control-label">@Localizer["Sum"]</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Sender" class="control-label"></label>
                <input asp-for="Sender" class="form-control" />
                <span asp-validation-for="Sender" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Receiver" class="control-label">@Localizer["Receiver"]</label>
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

